* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #191919;
  font-family: "Lato";
  height: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.show-me {
  transition: transform 0.3s ease-in-out;
  right: 0!important;
}

.show-me-bottom {
  max-height: 260px !important;
  transition: max-height 0.3s ease-in-out;
}

.chat__wrapper {
  /* max-height: 260px; */
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out;
}

.button.custom-btn{
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.show-me .button.custom-btn{
  position: fixed;
  right: 320px;
}
.title {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  height: 100px;
  text-align: center;
  font-size: 8vw;
  font-weight: 600;
}
.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Lato";
  -webkit-appearance: none;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 3px;
  border: 3px solid #343436;
  background: #343436;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  padding: 10px 16px;
  padding-left: 30px;
  outline: 0;
}
.button:before {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #53dd6c;
  content: "";
  border-radius: 100px;
}
.button:hover {
  background: #4d4d50;
}
.button:active {
  bottom: 17px;
}
.chat {
  background: #28282b;
  bottom: 0px;
  right: 0px;
  height: 50%;
  width: 300px;
  border: 1px solid #343436;
}
.chat__human {
  display: block;
  width: 100%;
  padding: 5px 20px 5px 20px;
  color:black;
  transition: 0.3s;
  cursor: pointer;
}
.chat__human:nth-child(odd){
  background:white;
}
.chat__human:nth-child(even){
  background: white;
}
.chat__human:hover {
  background: #D3C9C9;
}
.chat__human > * {
  display: inline-block;
  vertical-align: middle;
}
.chat__avatar {
  width: 40px;
  background: #fff;
  border-radius: 100px;
  margin-right: 20px;
}
.chat__users {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 100;
    color: #ccc;
    padding: 17px 20px;
    height: 40px;
    background: black;
    line-height: normal;
}
.conversation {
    display: none;
    position: absolute;
    bottom: 0;
    right: 419px;
    width: 300px;
     height: 310px; 
    background: white;
    border: 1px solid #343436;
}
.conversation__header {
  color: #ccc;
  padding: 11px 10px;
  background: #343436;
  margin-bottom: 10px;
  cursor: pointer;
}
.conversation__msg {
  padding: 5px 10px;
  color: white;
  list-style-type: none;
  font-size: 11px;
}

.conversation__time {
  float: right !important;
  color: black;
  list-style-type: none;
  font-size: 8px;
}

.conversation__msg span {
    background: white;
    color: black;
    display: block;
    padding: 6px 10px;
    border-radius: 100px;
    max-width: 100%;
    float: left;
    word-wrap: break-word;
    box-sizing: border-box;
}
.conver_wrap{
    min-height: 200px;
    overflow: auto;
    max-height: 200px;
}
.right {
  float: right !important;
  color: black !important;
  line-height: initial;
}

.close-msg {
  float: right;
  font-size: 20px;
  margin-top: -4px;
}

.message-box {
    flex: 0 1 40px;
    width: 100%;
    color: #ccc;
    background: #0a0a0a;
    padding: 14px;
    position: relative; 
    top: inherit;
    margin-top: 14px;
    /* bottom: -42px; */
    /* border: 1px solid #343436; */
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, .7);
  font-size: 11px;
  height: 17px;
  margin: 0;
  padding-right: 20px;
  padding-top: 4px;
  width: 265px;
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 8px 10px;
  border-radius: 10px;
  outline: #fff !important;
  transition: background 0.2s ease;
}
.message-box .message-submit:hover {
  background: #1d7745;
}

