<div style="position:fixed; bottom:0;right:0;">
    <!-- <button type="button" class="custom-btn button js-trigger adf-primary-background-color" (click)="toggleChat()">Chat</button> -->
    <nav class="chat">
        <h2 class="chat__users adf-primary-background-color" (click)="toggleChat()">Messaging</h2>
        <ul class="chat__wrapper" [ngClass]="{'show-me-bottom' : showChat}" style="max-height:0;">
            <li class="chat__human" (click)="showConversation(user)" *ngFor="let user of users">
                <!-- <img class="chat__avatar" src="https://robohash.org/joe" alt="" /> -->
                <span class="chat__name">{{ user }}</span>
            </li>
        </ul>
    </nav>
    <form form [formGroup]="chatForm">
        <div class="conversation" [style.display]="conversationStyle">
            <div class="conversation__header adf-primary-background-color">
                {{ currentuser }}
                <span class="close-msg" (click)="closeConversation()">&times;</span>
            </div>
            <div class="conver_wrap">
                <ul class="conversation__wrap">
                    <li class="conversation__msg cf" *ngFor="let mess of message">
                        <span *ngIf="(mess.to==logInIUser && mess.author==currentuser) || (mess.to==currentuser && mess.author==logInIUser)" [ngClass]="{'right':mess.author==logInIUser}">{{ mess.message }}
                        <br><p class = "conversation__time">{{mess.date | date:'short'}}</p></span>
                    </li>
                </ul>
            </div>
            <div class="message-box">
                <textarea #text type="text" class="message-input" placeholder="Type message..." (keydown.enter)="sendMessage(text.value)"
                    formControlName="textmsg"></textarea>
                <button type="submit" class="message-submit adf-primary-background-color" (click)="sendMessage(text.value)">Send</button>
            </div>
        </div>
    </form>
</div>